#authenticationUserForm {
  display: flex;
  flex-flow: column;
  
  .mat-form-field  {
  .mat-form-field-infix  {
    min-width: 100%;
    width: 100% ;
  }
  }
  #userButton {
  max-width: 200px;
  }
  }
  .mat-card {
    max-width: 600px !important;
    margin: 1rem auto;
  
  }